
@font-face {
  font-family: 'SairaSemiCondensed-Bold';
  src: url('SairaSemiCondensed-Bold.eot?#iefix') format('embedded-opentype'),  url('SairaSemiCondensed-Bold.woff') format('woff'), url('SairaSemiCondensed-Bold.ttf')  format('truetype'), url('SairaSemiCondensed-Bold.svg#SairaSemiCondensed-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
