// HANKEN-GROTESK
@include font-face('SairaSemiCondensed-Bold', 'SairaSemiCondensed-Bold', $font-weight: 900);
@include font-face('SairaSemiCondensed-Regular', 'SairaSemiCondensed-Regular');

// FONT VARIABLES
$bold: 'SairaSemiCondensed-Bold', sans-serif;
$regular: 'SairaSemiCondensed-Regular', sans-serif;

$base-size: 18;
$base-line-height: 26;

$font-primary: $regular;
$font-secondary: $bold;
